.article-styles h2 {
    font-size: 32px;
    margin-bottom: 32px;
}
.article-styles p,
.article-styles li {
    font-size: 18px;
}
.article-styles p {
    margin-bottom: 8px;
}
.article-styles li {
    margin-bottom: 4px;
}
.article-styles pre {
    background-color: #2d2d2d;
    color: #f8f8f2;
    padding: 16px;
    border-radius: 8px;
    overflow-x: auto;
    margin-bottom: 16px;
}
.article-styles code {
    font-family: 'Courier New', Courier, monospace;
}
.article-styles pre code {
    font-size: 16px;
}